/* Estilos globais */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para a página Home */
.home-page {
 background-color: #FF8C00;
}

.cardapio-page {
  background-color: #FF4500; /* Laranja mais escuro */
}

/* Estilos para a página Sobre */
.sobre-page {
  background-color: #FF6347; /* Tom de laranja */
}

/* Estilos para a página Contato */
.contato-page {
  background-color: #FF8C00; /* Laranja escuro */
}

/* Estilos adicionais podem ser adicionados conforme necessário */
